body {
    background: url(img/space.jpg);
}

.test {
    text-align: center;
    border: 3px solid black;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.5);
    margin: 100px 28%;
    width: 350px;
    padding: 100px;
}

.border {
    border: 1px solid black;
    padding: 10px;
}